body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

header{
  text-align: center;
}
image{
  align-items: center;

}
section{
  float: left;
}
figcaption{
    font-size:small;
   

}
#featured-property p {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

nav a{
  padding: 8px 10px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight:550;
}
a:hover{
  color: black;
  cursor: pointer;
}
#featured-property {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
#details div{
  float: left;
  width: 25%;
  height: 180px;
  background-color: rgba(255,0,0,0.8);
  margin-top: 20px;  }
